.md-button.md-fab.add-snippet{
    position: fixed;
    bottom: 24px;
    right: 0;
    z-index: 65;
}
.openbook-sidebar-toolbar{
    text-align: center;
}
span.score{
    text-align: center;
}
.submission-content {
    padding: 5px;
    max-height: 130px;
}
.submission-content p{
    margin: 0;
    overflow-y: auto;
}
.openbook-sidebar-toolbar img{
    width:128px;
}
.openbook-navbar{
        background: #f6f6f6;
        color:rgb(63,81,181);
}
footer{
    z-index: 61;
    text-align: center;
    background: #fff;
}
footer hr{
    margin-top: 0;
    
}
.openbook-icon{
    background-color: rgb(63,81,181);
    height: 100%;
    width: 64px;
    text-align: center;
    vertical-align: middle;
    margin-left: -16px;
    padding-top: 18px;
}
#story,#add-snippet{
    margin:8px;
}
#snippets{
    overflow-y: none;
}
.layout-padding{
    padding:17px;
}