<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="../css/site.css" />
    <link rel="stylesheet" href="../css/hoverstory.css" />
</head>

<body ng-app="OpenBook" layout="column">
     <section flex layout="row" ng-controller="layoutCtrl" ng-cloak> 
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="openbook-sidebar-toolbar">
                <span><img src="/img/icons/ic_import_contacts_white_24px.svg"/></span>
                <h2>
                    <span>OpenBook</span>
                </h2>
            </md-toolbar>
            <md-content layout-padding>
                <md-list>
                    <md-list-item ng-click="navigate('home')">
                        <md-icon md-svg-icon="img/icons/ic_menu_black_24px.svg"></md-icon>
                        <p>Story so far</p>
                    </md-list-item>
                    <md-list-item ng-click="navigate('my-snippets')">
                        <md-icon md-svg-icon="img/icons/ic_menu_black_24px.svg"></md-icon>
                        <p>My Snippets</p>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <section layout="column" flex>
                <div ng-include="'/app/layout/navbar.html'"></div>
                <md-content ui-view flex layout="column">
                    
                </md-content>   
        </section>
    </section>
    <footer >
        <hr />
        <p>&copy; 2015 - OpenBook</p>
    </footer>
    
    
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
    <script src="/bower_components/a0-angular-storage/dist/angular-storage.min.js"></script>
    <script src="//cdn.auth0.com/js/lock-7.12.min.js"></script>
    <script src="/bower_components/auth0-lock/build/auth0-lock.min.js"></script>
    <script src="/bower_components/auth0-angular/build/auth0-angular.min.js"> </script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/app.config.js"></script>
    <script src="/app/interceptors/apicallinterceptor.js"></script>
    <script src="/app/services/snippet.svc.js"></script>
    <script src="/app/services/vote.svc.js"></script>
    <script src="/app/services/story.svc.js"></script>
    <script src="/app/services/submission.svc.js"></script>
    <script src="/app/home/home.ctrl.js"></script>
    <script src="/app/snippet/snippet.ctrl.js"></script>
    <script src="/app/layout/layout.ctrl.js"></script>
    <script src="/app/story/story.ctrl.js"></script>
</body>
</html>
