    <section flex layout="row" ng-controller="layoutCtrl" ng-cloak> 
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="openbook-sidebar-toolbar">
                <span><img src="/img/icons/ic_person_24px.svg"/></span>
                <h2>
                    <span>OpenBook</span>
                </h2>
            </md-toolbar>
            <md-content layout-padding>
                
            </md-content>
        </md-sidenav>
        <section layout="column" flex>
                <div ng-include="'/app/layout/navbar.html'"></div>
                <md-content flex layout-padding>
                    <div ui-view></div>
                    
                    
                </md-content>    
                
        </section>
        
    </section>
    <footer >
        <hr />
        <p>&copy; 2015 - OpenBook</p>
    </footer>