<md-toolbar class="md-whiteframe-z2" >
    <div class="md-toolbar-tools openbook-navbar">
        <span class="openbook-icon" hide-gt-md >
            <md-icon md-svg-icon="img/icons/ic_import_contacts_white_24px.svg"></md-icon>
        </span>
        <md-button ng-click="toggleNav()" hide-gt-md class="md-icon-button" aria-label="Settings">
          <md-icon md-svg-icon="img/icons/ic_menu_black_24px.svg"></md-icon>
        </md-button>
        <span flex></span>
        <span ng-if="auth.isAuthenticated" ng-click="logout()">Logout {{auth.profile.nickname}}</span>
        <span ng-if="!auth.isAuthenticated" ng-click="login()">Login</span>
    </div>
</md-toolbar>