<div ng-controller="snippetCtrl" class="container">

    <div ng-repeat="snippet in snippets" class="row">
        <span style="margin-left: 50px;" ng-attr-data-author="{{snippet.Author}}" class="tooltip-left" data-id="ff3881ce-47f8-412b-8f63-7f18c8e871e9"
        ng-attr-data-tooltip="{{snippet.Author}}">{{snippet.Content}}</span>
    </div>

    <md-content layout-padding>
        <form name="userForm" ng-submit="submit()">

            <md-input-container>
                <label>Author</label>
                <input ng-model="snippetAuthor" flex="100">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Content</label>
                <textarea ng-model="snippetContent" columns="3" md-maxlength="500" rows="5" flex ="100"></textarea>
            </md-input-container>

            <md-button class="md-raised md-primary" itemtype="submit">Submit</md-button>
        </form>
    </md-content>

</div>