<md-content flex  layout="column" >
    <div layout="column" flex ng-controller="snippetCtrl" class="container">
        <div layout-padding class="md-whiteframe-z2" id="story" flex>
            <span ng-repeat="snippet in snippets" style="margin-bottom: 25px;">
                <span ng-if="snippet.NewParagraph">
                    <br/><br/>
                </span>
                <span ng-attr-data-author="{{snippet.Author}}" class="tooltip-top" data-id="ff3881ce-47f8-412b-8f63-7f18c8e871e9" ng-attr-data-tooltip="{{snippet.Author}}">
                    {{snippet.Content}}
                </span>
            </span>
        </div>
        <!-- this is gonna be the bit where you vote on snippets -->
        <div hidden  id="snippets" flex>
            <md-card class="md-whiteframe-z2" ng-repeat="snippet in snippets" >
                <md-card-content>
                    <p>{{snippet.Content}}</p>
                </md-card-content>
            </md-card>
        </div>
        <!-- // -->
        <div id="add-snippet" class="md-whiteframe-z2" layout-padding>
            <form name="userForm" ng-submit="submit()" layout="row">
                <div id="addSnippet" ng-show="showSnippet" layout="column"  flex>
                    <md-content >
                        <md-input-container class="md-block">
                            <label>Content</label>
                            <textarea ng-model="snippetContent" name="content" columns="3" ng-minlength="snippetMinLength" ng-maxlength="snippetMaxLength" md-maxlength="snippetMaxLength" required rows="5" flex="100"></textarea>
                            <div ng-messages="userForm.content.$error" style="color:maroon" role="alert">
                                <div ng-message="required">You did not enter any content</div>
                                <div ng-message="minlength">Your content is too short</div>
                                <div ng-message="maxlength">Your content is too long</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <md-checkbox
                                ng-model="newParagraph"
                                aria-label="New Paragraph">
                                New Paragraph?
                                </md-checkbox>
                        </md-input-container>
                    </md-content>
                </div>
                <span flex ng-show="!showSnippet"></span>
                <div layout="column">
                    <md-button class="md-fab" aria-label="Snippet" ng-click="showDiv()">
                        <md-icon ng-hide="showSnippet" md-svg-src="/img/icons/note-plus.svg" ></md-icon>
                        <md-icon ng-show="showSnippet" md-svg-src="/img/icons/ic_close_white_24px.svg"></md-icon>
                    </md-button>
                    <span flex></span>
                    <md-button class="md-fab" itemtype="submit" ng-show="showSnippet" ng-disabled="userForm.$invalid">
                        <md-icon md-svg-src="/img/icons/ic_done_white_24px.svg" ></md-icon>
                    </md-button>
                </div>
            </form>
        </div>
    </div>
</md-content>

